---
import Layout from '../layouts/Layout.astro'
import AddBirthday from '../components/AddBirthday.astro'
import { BirthdayList } from '../components/BirthdayList'
import { BackupControls } from '../components/BackupControls'
---

<Layout title="Birthday Tracker">
  <main class="container mx-auto px-4 py-8 flex flex-col min-h-screen">
    <div class="flex flex-col items-center mb-8">
      <h2 class="text-2xl font-semibold text-center mb-4">
        🧘 Birthday Sanity 🧘
      </h2>
      <AddBirthday />
    </div>

    <div class="flex-grow">
      <BirthdayList client:load />
    </div>
  </main>
</Layout>
